@{
    ViewData["Title"] = "Home Page";
}

<div id="home-page" class="text-center">
    <h1 style="color: white; text-shadow: 0px 4px 4px black; padding-top: 40px; letter-spacing: 2px;" class="display-4">Welcome, to YourSpace!</h1>
    <p style="color: white; text-shadow: 0px 2px 2px black; font-size: 18px; letter-spacing: 2px; font-style: italic;">An environment where you can share random things that you like....or dislike</p>

    <a href="/Identity/Account/Login" style="color: white !important; text-shadow: 0px 2px 2px gray;"><h3 id="login">Login</h3></a>
    

</div>
