@{
    ViewData["Title"] = "Home Page";
}

<div id="home-page">
    <div id="welcome-text">

        <h1 style="color: #979797; text-shadow: 0px 2px 6px white; padding-top: 40px; letter-spacing: 2px;" class="display-4">Welcome to YourSpace!</h1>
        <p style="color: #979797; text-shadow: 0px 2px 6px white; font-size: 18px; letter-spacing: 2px; font-style: italic;">An environment where you can share random things that you like....or dislike</p>

    </div>
       
    <img id="bg-pic" src="../../images/social-pic.jpg"/>
</div>

<div id="home-about">

    <div id="info-text">
        <p>YourSpace is a platform where you can share your experiences though photos.</p>
        <p>Praesent in maximus arcu. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Fusce in tortor nec dolor tempor maximus. In tempus, justo et aliquet consectetur, ante ante laoreet ante, a fermentum mauris orci sed magna. Ut quis aliquet diam. Etiam sed arcu sed ex egestas vestibulum sed ac metus. Praesent pretium quam eu augue auctor lacinia.</p>
    </div>
  
</div>

<div id="home-ft1">
    <img id="bg-pic2" src="../../images/bg-pic2.jpg"/>
    <div id="ft-p">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Morbi tincidunt augue interdum velit euismod in. Purus faucibus ornare suspendisse sed nisi lacus. Nulla facilisi nullam vehicula ipsum a arcu cursus vitae congue. Imperdiet sed euismod nisi porta lorem. Amet porttitor eget dolor morbi non arcu risus. Tempor orci eu lobortis elementum nibh tellus. Lorem ipsum dolor sit amet consectetur adipiscing elit duis. Id velit ut tortor pretium viverra suspendisse potenti nullam. At lectus urna duis convallis convallis tellus id. Orci dapibus ultrices in iaculis nunc sed augue. Aliquam faucibus purus in massa tempor nec. Accumsan tortor posuere ac ut consequat. Id eu nisl nunc mi ipsum faucibus vitae aliquet nec. Aliquam sem fringilla ut morbi tincidunt. Amet luctus venenatis lectus magna. Ultrices gravida dictum fusce ut placerat orci.</div>
</div>
