/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

body {
    overflow: scroll;
    overflow-x: hidden;
    color: #696969;
}
a {
    color: lightgray !important;
}

#login:hover {
    color: gray;
}

#home-page {
    background-image: url("../images/gray-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
    width: 1340px;
    background-color: gray;
    position: relative;
    right: 116px;
    bottom: 16px;
}

.gallery-container {
    height: 1000px;
    overflow: scroll;
    overflow-x: hidden;
    background: #d3d3d3;
    padding-left: 90px;
}

.card-body {
    flex: 1 1 auto;
    padding: 0.5rem;
    height: 100px;
    overflow: scroll;
    overflow-x: hidden
}

.card-title{
    margin-bottom: 0rem !important;
}
.card-edit {
    font-size: 14px;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

#dog-img {
    height: 100px;
    width: 100px;
    background-image: url("../images/dog-pic.jpeg");
    background-position: center;
    background-size: cover;
    background-color: red;
}
#cat-img {
    height: 100px;
    width: 100px;
    background-image: url("../images/cat-pic.jpeg");
    background-position: center;
    background-size: cover;
    background-color: red;
}

#coffee-img {
    height: 100px;
    width: 100px;
    background-image: url("../images/coffee.jpeg");
    background-position: center;
    background-size: cover;
    background-color: red;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}
